.message-list{
	width:100%;
}

.message-list .list-group-item {
    cursor:pointer;
}

.message-list .list-group-item.viewed{
    background-color:#f1f1f1;
}

.message-list .list-group-item .content {
    display:none;
}