/*row third*/
.row.third .carousel.bottom-text-type{
	background-color:#fff;
}

.row.third .carousel.bottom-text-type .carousel-caption{
	height: 90px;
    overflow: hidden;
	line-height: 157%;
}
/*eo row third*/

/*row sixth*/
.row.sixth .carousel.bottom-text-type{
	background-color:#fff;
}

.row.sixth .carousel.bottom-text-type .carousel-caption{
	height: 87px;
    overflow: hidden;	
}
/*eo row sixth*/