.header {
	margin-bottom:10px;
}

.header .bottom a{
	padding:0 3px;
	color:#8e8e8e;
}

.header .bottom a.active{
	color:#e5802b;
	border-bottom:2px solid #e5802b;
}

.header .nav{
	padding-left:15px;
}

.header .top{
	padding:10px;
	background-color:#2980b9;
}

.header .top .logo{
	
}

.header .top .logo a{
	font-size:1.5em;
	color:#fff;	
}

.header .bottom{
	background-color:#fff;
	padding:10px;
}
