.header {
	margin-bottom:10px;
}

.header .nav{
	padding-left:15px;
}

.header .top{
	padding:10px;
	background-color:#2980b9;
}

.header .top .logo{
	padding:10px;
}

.header .bottom{
	background-color:#fff;
	padding:10px;
}
