.post{
	position:relative;
	padding:10px 0 10px 0;
	margin:0 0 0 0;
	background-color:#fff;	
}

.post > .post-info, .post > .post-menu-philzine-bottom, .post > .content{
	padding:0 10px;
}

.post .profile-image{
	width:50px;
}

/*post info*/
.post .post-info{
	margin:0 0 10px 0;
}

.post .post-info .name{
	font-size:.8em;
	font-weight:bold;
}

.post .post-info .name .send-message{
	position:relative;
	top:-1px;
	margin-left:8px;
}

.post .post-info .date, .post .location{
	font-size:.7em;	
}

.post .post-info .separator{
	position:relative;
	top:-2px;
	font-size:.6em;	
	margin:0 5px;
}
/*eo post info*/

/*post-menu-philzine-top*/
.post .post-menu-philzine-top{
	position:absolute;
	right:5px;
	top:0;
	padding:0;
}

.post .post-menu-philzine-top button{
	background-color:initial!important;
}

.post .post-menu-philzine-top .menu-separator{
	float: left;
	height: 25px;
	padding: 5px 0;
	margin: 7px 5px 0 5px;
	font-size: 1.1em;
	border-left: 1px solid #e5e5e5;
}

.post .post-menu-philzine-top .btn{
	border:0;
}

.post .post-menu-philzine-top .btn:hover{
	background-color:#fff;
}
/*eo post-menu-philzine-top*/

/*content*/
.post .content{
	font-size:.9em;
}

.post .content .files {
	font-size:.9em;
}

.post .content .files .file{
	width:25%;
	max-width:150px;
	margin:10px 0;
}

.post .content .files .file img{
	width:100%;
}
/*eo content*/

/*post-menu-philzine-bottom*/
.post .post-menu-philzine-bottom{	
	padding:0 10px 10px 10px;
	font-size:.8em;
	font-weight:bold;
	color:#73808f;	
}

.post .post-menu-philzine-bottom img{
	position:relative;
	top:-2px;
	margin-right:5px;
}
/*eo post-menu-philzine-bottom*/

.post > .nav{
	border-bottom:1px solid #ddd;
}


/*drop down*/
.post .dropdown-toggle{
	border:0;
	background-color:initial!important;
}

.post .dropdown-toggle:hover{
	background-color:initial;
}

.post .dropdown-toggle:after{
	display:none;
}

.post .dropdown-menu{
	padding:0;
}

.post .dropdown-menu .dropdown-item{
	cursor:pointer;
}
/*eo drop down*/

.post .content .media.post-edit-wrapper .media-left{
	display:none;
}

/*depth*/
.post[depth='2'] {
    margin-left:3em;
}
.post[depth='3'] {
    margin-left:5.5em;
}
.post[depth='4'] {
    margin-left:7.5em;
}
.post[depth='5'] {
    margin-left:9em;
}
.post[depth='6'] {
    margin-left:10.4em;
}
.post[depth='7'] {
    margin-left:11.3em;
}
.post[depth='8'] {
    margin-left:12.2em;
}
.post[depth='9'] {
    margin-left:13.1em;
}
.post[depth='10'] {
    margin-left:14em;
}
.post[depth='11'] {
    margin-left:14.9em;
}
.post[depth='12'] {
    margin-left:15.8em;
}
.post[depth='13'] {
    margin-left:16.7em;
}
.post[depth='14'] {
    margin-left:17.6em;
}
.post[depth='15'] {
    margin-left:18.5em;
}
.post[depth='16'] {
    margin-left:19.4em;
}
.post[depth='17'] {
    margin-left:20.3em;
}
.post[depth='18'] {
    margin-left:21.2em;
}
.post[depth='19'] {
    margin-left:22.1em;
}
.post[depth='20'],
.post[depth='21'],
.post[depth='22'],
.post[depth='23'],
.post[depth='24'],
.post[depth='25'],
.post[depth='26'],
.post[depth='27'],
.post[depth='28'],
.post[depth='29'],
.post[depth='30'],
.post[depth='31'],
.post[depth='32'],
.post[depth='33'],
.post[depth='34']
{
    margin-left:23.0em;
}
/*eo depth*/