.post-list {

}
.post-list .post {
    margin:1em 0;
    padding:1em;
    border:1px solid #dfdfdf;
}
.post-edit [name='subject'] {
    width:100%;
}

.post-edit [name='content'] {
    margin:.4em 0 0;
    width:100%;
    min-height:6em;
}


.post-edit .file {
    float:left;
}
.post-edit .submit {
    float:right;
}




.post-list .post .post-menu {

}
.post-list .post .author {

}
.post-list .post .subject {

}
.post-list .post .content {

}



.files .file {
    width:100%;
}

.files .file img {
    max-width:100%;
}


.post-menu .edit {
    cursor:pointer;
}
.post-menu .reply {
    cursor:pointer;
}




.post-list .post[depth='1'] {
    margin-left:30px;
}
.post-list .post[depth='2'] {
    margin-left:55px;
}
.post-list .post[depth='3'] {
    margin-left:65px;
}
.post-list .post[depth='4'] {
    margin-left:73px;
}
.post-list .post[depth='5'] {
    margin-left:79px;
}
.post-list .post[depth='6'] {
    margin-left:84px;
}
.post-list .post[depth='7'] {
    margin-left:87px;
}
.post-list .post[depth='8'] {
    margin-left:90px;
}
.post-list .post[depth='9'] {
    margin-left:93px;
}

/** post like */
.post .like {
    cursor:pointer;
}
.post .like .no {
    padding-left:.4em;
    font-weight:bold;
}


/** post file uplod */
input[type='file'] {
    width:8em;
}

